<div id="app">
  Pizzas are available to order:
  <p></p>

  <table>
    <thead>
      <tr>
        <td style="min-width: 180px;">Size</td>
        <td style="min-width: 180px;">Available Quantity</td>
        <td style="min-width: 180px;">x1 / Price</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let pizza of pizzas'>
        <td>
          {{ pizza.size }}
        </td>
        <td>
          {{ pizza.quantity }}
        </td>
        <td>
          {{ pizza.price }}
        </td>
      </tr>
    </tbody>
  </table>
  <p></p>
  <mat-divider></mat-divider>
  <p></p>
  <mat-form-field appearance="fill">
    <mat-label>Current customer:</mat-label>
    <mat-select [(ngModel)]="currentCustomerId">
      <mat-option *ngFor="let customer of customers" value={{customer.id}} (click)='updateCustomer(customer.id)'>
        {{ customer.name }} | {{ customer.provider }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="row">
    <span>Pizza S</span>
    <div>
      Quantity: <input type="number" [(ngModel)]="s" >
    </div>
  </div>

  <div class="row">
    <span>Pizza M</span>
    <div>
      Quantity: <input type="number" [(ngModel)]="m">
    </div>
  </div>

  <div class="row">
    <span>Pizza L</span>
    <div>
      Quantity: <input type="number" [(ngModel)]="l">
    </div>
  </div>

  <button mat-raised-button (click)='checkout()'>CHECKOUT</button>
  <p></p>
  <mat-divider></mat-divider>
  <p></p>
  <table>
    <thead>
      <tr>
        <td style="min-width: 100px;">Name</td>
        <td style="min-width: 100px;">Provider</td>
        <td style="min-width: 100px;">S</td>
        <td style="min-width: 100px;">M</td>
        <td style="min-width: 100px;">L</td>
        <td style="min-width: 100px;">Total</td>
        <td style="min-width: 100px;">Created At</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let checkout of checkouts'>
        <td>{{checkout.customerName}}</td>
        <td>{{checkout.provider}}</td>
        <td>{{checkout.totalS + checkout.totalBonusS}} ({{checkout.totalS}}+{{checkout.totalBonusS}})</td>
        <td>{{checkout.totalM + checkout.totalBonusM}} ({{checkout.totalM}}+{{checkout.totalBonusM}})</td>
        <td>{{checkout.totalL + checkout.totalBonusL}} ({{checkout.totalL}}+{{checkout.totalBonusL}})</td>
        <td>{{checkout.totalPrice}} ($)</td>
        <td>{{checkout.createdAt}}</td>
      </tr>
    </tbody>
  </table>
</div>